In [2]:
name = "ali"
print(name)

name = "hasan"
print(name)

ali
hasan

In [3]:
# define lists

names = ["ali", "javad", "hasan","maryam","babak"]
print(names)

['ali', 'javad', 'hasan', 'maryam', 'babak']

In [4]:
names[0]

'ali'

In [5]:
names[3]

'maryam'

In [6]:
names[4]

'babak'

In [7]:
len(names)

5

In [8]:
names

['ali', 'javad', 'hasan', 'maryam', 'babak']

In [9]:
type(names)

list

In [10]:
type(name)

str

In [11]:
print(names)

names.sort()
print(names)

names.sort(reverse=True)
print(names)

['ali', 'javad', 'hasan', 'maryam', 'babak']
['ali', 'babak', 'hasan', 'javad', 'maryam']
['maryam', 'javad', 'hasan', 'babak', 'ali']

In [12]:
name.capitalize()

'Hasan'

In [13]:
print(name)

hasan

In [14]:
txt = "this is an apple. and realy an apple"
print(txt)

txt.count("apple")

this is an apple. and realy an apple

2

In [15]:
print(txt)
revised_txt = txt.replace("apple","orange")
print(revised_txt)

this is an apple. and realy an apple
this is an orange. and realy an orange

In [16]:
# countinue about lists...

ages = [18,22,16,41]
ages

[18, 22, 16, 41]

In [17]:
sum(ages)

97

In [18]:
# names
for xyz in names:
    print(xyz, len(xyz))

maryam 6
javad 5
hasan 5
babak 5
ali 3

In [20]:
print(names)
names[3]

['maryam', 'javad', 'hasan', 'babak', 'ali']

'babak'

In [21]:
names[3] = "bardia"
print(names)
names[3]

['maryam', 'javad', 'hasan', 'bardia', 'ali']

'bardia'